* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
    color: inherit;
}
    html, body {
        height: 100%;
        background-color: #222;
        place-content: center;
        overflow: hidden;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-shadow: 0 0 3px black, 0 0 2px black;
        -webkit-font-smoothing:none;       
    }
    article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
        display: block;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote::before, blockquote::after,
    q::before, q::after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    button, input, select, textarea {
        font: inherit;
        color: inherit;
        background: none;
        border: none;
        outline: none;
        box-shadow: none;
        appearance: none;
    }
    img, video {
        max-width: 100%;
        height: auto;
        display: block;
    }
    a {
        color: inherit;
        text-decoration: none;
        background: transparent;
    }

#xyz {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9;
    background-color: #222222be;
    color: wheat;
    padding: 10px;
}

#controls {
    z-index: 2;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 5px;
    flex-direction: column;
}
#controls .top, #controls .bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5px;
}
#controls button {
    width: 50px;
    border: 1px solid white;
    font-size: larger;
    aspect-ratio: 1/1;
    background-color: rgb(90, 90, 90);
}


#mega-wrapper {
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  user-select: none;
  image-rendering: pixelated;
  overflow: hidden;
  z-index: 1;
  pointer-events: none;
  transform-style: preserve-3d;
  background-color: #6f86b8;

}

#mega-wrapper:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  top: 0;
  left: 0;
  background-image: url('../art/grain.gif');
  background-size: 200px 200px;
  background-position: center;
  z-index: 1;
  opacity: 0.05;
  pointer-events: none;
  mix-blend-mode:color-burn;
  filter: contrast(2) brightness(1.2) sepia(2);
}


#mega-wrapper:after {
  position: absolute;
  width: 100%;
  height: 100%;
  scale: 1;
  top: 0px;
  left: 0px;
  opacity: 0.7;
  pointer-events: none;
  content: '';
  background-image: url("../art/wrapper-overlay.png");
  background-size: 110% 110%;
  background-position: center;
  z-index: 3;
  overflow: hidden;
  mix-blend-mode: color-burn;
  background-color: #ffffff56;

} 

#engine-wrapper {
    margin: 0 auto;
    width: 100dvw;
    height: 100dvh;
    filter: contrast(1.2);
    overflow: hidden;
    perspective: 450px;
    perspective-origin: center center;
    transform-style: preserve-3d;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    transform-origin: top;
}

#engine-wrapper::after {
  content: '';
  -webkit-mask-box-image: url('../art/wrapper-overlay.png') stretch ;
  backdrop-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#skybox {
    transform-style: preserve-3d;
    position: absolute;
    transform: translateY(-850px) translateX(0px) scale3d(4, 4, 4);
    transform-origin: top;

}
#skybox .face {
    width: 500px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: visible;
    image-rendering: pixelated;

}
#skybox #top {
    background-image: url('../art/skybox/top.jpg');
    transform: rotateX(90deg) translateZ(150px) rotate(90deg);
}
#skybox #bottom {
    background-image: url('../art/skybox/bottom.jpg');
    transform: rotateX(90deg) translateZ(150px);
}
#skybox #right {
    background-image: url('../art/skybox/right.jpg');
    transform: rotateY(270deg) translateY(-1900px) translateZ(250px);
}
#skybox #left {
    background-image: url('../art/skybox/left.jpg');
    transform: rotateY(90deg) translateY(-2400px) translateZ(250px);
}
#skybox #front {
    background-image: url('../art/skybox/front.jpg');
    transform: rotateX(360deg) translateY(-900px) translateZ(250px);
}
#skybox #back {
    background-image: url('../art/skybox/back.jpg');
    transform: rotateX(360deg) translateY(-1400px) translateZ(-250px) rotateY(180deg);
}




#renderer {
    margin: 0 auto;
    width: 1000px;
    height: 1000px;
    transform: rotateX(320deg) rotateY(0deg) ;

    transform-style: preserve-3d;
    image-rendering: pixelated;
    will-change: transform !important;
    translate: 0px -300px;

}

#renderer #ePlane {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 100px;
    right: 100px;
    transform: rotateX(90deg)  rotateZ(180deg) translateZ(-500px);
    transform-style: preserve-3d;
}

#ePlane .eCell {
    transform-style: preserve-3d;
    background-color: none;
    background: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    image-rendering: pixelated;
    visibility: hidden;
}

#ePlane .eCell:has(.cardboard) {
 visibility: visible;
} 

#ePlane .eCell .cardboard {
    width: 100px;
    height: 100px;
    translate: -0px -50px;
    overflow: visible;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    transform: rotateX(-90deg) rotateY(var(--rotation-z)) scale3d(3, 3, 3);
    transform-origin: bottom;
    image-rendering: pixelated;
} 

.cardboard.tree {
    background-image: url('../art/1.PNG');
}



#renderer canvas {
  position: absolute;
  width: 1000px;
  height: 1000px;
  image-rendering: pixelated;
    filter: none;
}

#renderer .horizontal.floor {
    background-color: seagreen;
    background-size: 16% 16%;
    display: none;
}
/* #renderer .horizontal {
    outline: 1px solid rgba(128, 0, 128, 0.4);
}
#renderer .verticalX {
    outline: 1px solid rgba(0, 240, 228, 0.4);
}
#renderer .verticalY {
    outline: 1px solid rgba(255, 187, 1, 0.4);
} */
#renderer canvas.first {
display: none;
}
#renderer canvas.verticalX.last {
outline: 1px solid rgba(255, 0, 234, 0.63);
display: none;
}
#renderer canvas.last {
outline: 1px solid rgba(255, 1, 1, 0.4);
display: none;
}


